* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sahel;

}


@font-face {

    font-family: sahel;
    src: url('./sahel.ttf');

}

.input-text {

    border: 1px solid #ff9600;
    background-color: #F8F9FC;
    border-radius: 3px 15px 3px 15px;
    outline: none;
    font-size: 15px;
    padding: 4px 5px;

    &:focus {

        border: 1px solid #ff9600;

    }

}

.date {

    width: 110px !important;

}

.select {

    padding: 5px 30px !important;
    background-color: #F8F9FC;

}

.file {

    font-size: 14px;

}

.txt-area {

    outline: none;
    resize: none;
    border: 1px solid #ff9600;
    border-radius: 3px 15px 3px 15px;
    padding: 10px;
    width: 250px;
    height: 100px;
    background-color: #F8F9FC;

}

.btn-submit {

    border: 1px solid black;
    padding: 5px 25px !important;
    border-radius: 15px 15px 0px 15px;
    margin: 30px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
    background-color: #ff9600;
    border: 1px solid #ff9600;
    margin-right: 380px;

    &:hover {

        background-color: #ff9600;

    }

}

// #ff9600
body {

    background-color: #f2f2f2;
    direction: rtl;

    div {

        div {

            padding: 0 !important;
            margin: 0 !important;
            // background-color: #ff9600;

            form {

                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                font-size: 15px;

                div {

                    padding: 14px !important;

                    label[for="body_adv"] {

                        vertical-align: top;

                    }

                    label {

                        transition: 0.3s;
                        padding: 0px 20px;

                        &:hover {

                            color: #ff9600;
                            cursor: pointer;

                        }

                    }

                }

            }

        }

    }


}
