@font-face {
    font-family: sahel;
    src: url('/Sahel.ttf');
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
    direction: rtl!important;
  font-family: sahel;
}
body{
    direction: rtl!important;
}
a{
    direction: rtl!important;
}
.dropdown-menu{
    direction: rtl!important;
}

#searchedArea{
    border-radius: 1px 1px 0.4px 0.4px !important;
    margin:5px;
    padding:5px;
    border-style: solid !important;
    border-color: #1d4000 !important;
    border-width: 1px 1px 1px 1px !important;
}
#adminHeader{
    border-radius: 1px 1px 0.4px 0.4px !important;
    padding:5px;
    border-style: solid !important;
    border-color: cornflowerblue !important;
    border-width: 5px 1px 1px 1px !important;
}

.select2-results__options{

    width: 800px;
    background-color: white;
}

.file-group{

    margin-top: 20px;

}

.file-pri{

    padding: 10px;
    z-index: 0;
    outline: none;
}
.file-up{

    position: absolute;
    padding: 13px 65px;
    z-index: 3;
    color: white;
    background-color: #1F6ED4;
    cursor: pointer;

}

.select2-selection--multiple .select2-selection{

    width: 200px;

}

.modal-content{

    width: 1000px;
    margin-right: -260px;

}

.select2-selection{

    width: 250px;

}
#blogHeader{
    background-color: #fff5ea;
}
#blogHeadLine{
    height:3px;
    background-color: #ffc679;
}
#blogBody{
    border-radius:5px;
    border-color:#ffc679;
    border-style:solid;
    background-color: #909797;
    min-height:1000px;
}
#card-body{
    background-color: #d5d1d1;

}
/*# sourceMappingURL=default.css.map */
