* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sahel;
}

@font-face {
  font-family: sahel;
  src: url("./sahel.ttf");
}

.input-text {
  border: 1px solid #ff9600;
  background-color: #F8F9FC;
  border-radius: 3px 15px 3px 15px;
  outline: none;
  font-size: 15px;
  padding: 4px 5px;
}

.input-text:focus {
  border: 1px solid #ff9600;
}

.date {
  width: 110px !important;
}

.select {
  padding: 5px 30px !important;
  background-color: #F8F9FC;
}

.file {
  font-size: 14px;
}

.txt-area {
  outline: none;
  resize: none;
  border: 1px solid #ff9600;
  border-radius: 3px 15px 3px 15px;
  padding: 10px;
  width: 250px;
  height: 100px;
  background-color: #F8F9FC;
}

.btn {
  border: 1px solid #ff9600;
  padding: 5px 25px !important;
  border-radius: 15px 15px 0px 15px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10px;
  background-color: #F8F9FC;
}

.btn:hover {
  background-color: #ff9600;
}

body {
  background-color: #f2f2f2;
  direction: rtl;
}

body .container {
  padding: 15px !important;
  margin: 0 !important;
}

body .container div {
  padding: 0 !important;
  margin: 0 !important;
}

body .container div div {
  padding: 0 !important;
  margin: 0 !important;
}

body .container div div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 15px;
}

body .container div div form div {
  padding: 10px !important;
}

body .container div div form div label[for="body_adv"] {
  vertical-align: top;
}

body .container div div form div label {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 20px;
}

body .container div div form div label:hover {
  color: #ff9600;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */
